.shimmer-button {
  position: relative;
  z-index: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.75rem 1.5rem;
  color: white;
  background: var(--bg);
  border-radius: var(--radius);
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
}

.shimmer-button:active {
  transform: translateY(1px);
}

.spark-container {
  position: absolute;
  inset: 0;
  z-index: -30;
  overflow: visible;
  blur: 2px;
  container-type: size;
}

.spark {
  position: absolute;
  inset: 0;
  height: 100cqh;
  aspect-ratio: 1;
  border-radius: 0;
  mask: none;
  animation: shimmer-slide var(--speed) infinite linear;
}

.spark-before {
  position: absolute;
  inset: -100%;
  width: auto;
  rotate: 0;
  background: conic-gradient(
    from calc(270deg - (var(--spread) * 0.5)),
    transparent 0,
    var(--shimmer-color) var(--spread),
    transparent var(--spread)
  );
  animation: spin-around 10s infinite linear;
}

.highlight {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: inset 0 -8px 10px rgba(255, 255, 255, 0.12);
  transform: translateZ(0);
  transition: all 0.3s ease-in-out;
}

.shimmer-button:hover .highlight {
  box-shadow: inset 0 -6px 10px rgba(255, 255, 255, 0.25);
}

.shimmer-button:active .highlight {
  box-shadow: inset 0 -10px 10px rgba(255, 255, 255, 0.25);
}

.backdrop {
  position: absolute;
  z-index: -20;
  background: var(--bg);
  border-radius: var(--radius);
  inset: var(--cut);
}

@keyframes shimmer-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes spin-around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}